/* Global Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

router-outlet + *  {
  padding: 0 16px;
}