<a [routerLink]="['/']">
  <h1 class="text-3xl text-white">Cell Shop</h1>
</a>
<a [routerLink]="['/cart']" class="bg-white px-2 rounded-lg flex items-center cursor-pointer hover:opacity-80">
  <span class="text-gray-700 text-xl">
    <i class="material-icons relative text-3xl">
      shopping_cart
    </i>
    <span
      *ngIf="itemCount > 0"
      class="bg-red-500 text-white text-xs font-bold absolute top-2 right-20 rounded-full px-2 py-1">
      {{ itemCount }}
    </span>
  </span>
  <span class="ml-2">Checkout</span>
</a>